.wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #222;
    padding: 20px;
    background: #efefef;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-family: "Oswalsd";
    margin: 20px;
    flex-grow: 1;
    cursor: pointer;
}

a:hover:before {
    background-size: 200% 5px, 5px 400%, 5px 400%, 55% 5px, 55% 5px;
    background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
    transform: scaleX(1) rotate(0deg);
    transition-delay: 0.6s, 0.3s, 0s;
}

a:before {
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: calc(2px / -1);
    left: calc(2px / -1);
    background: linear-gradient(to right,
            hsl(224, 85%, 66%) 0%,
            hsl(179, 85%, 66%) 100%),
        linear-gradient(to top, hsl(269, 85%, 66%) 50%, transparent 50%),
        linear-gradient(to top, hsl(314, 85%, 66%) 50%, transparent 50%),
        linear-gradient(to right, hsl(89, 85%, 66%) 0%, hsl(44, 85%, 66%) 100%),
        linear-gradient(to left, hsl(89, 85%, 66%) 0%, hsl(134, 85%, 66%) 100%);
    background-size: 100% 5px, 5px 200%, 5px 200%, 0% 5px, 0% 5px;
    background-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
    background-repeat: no-repeat, no-repeat;
    transition: transform 0.3s ease-in-out,
     background-position 0.3s ease-in-out,
      background-size 0.3s ease-in-out;
      transform: scaleX(1) rotate(0deg);
      transition-delay: 0.6s, 0.3s, 0s;
}

a:hover:before {
    background-size: 200% 5px, 5px 400%, 5px 400%, 55% 5px, 55% 5px;
}